<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awise.storage.mapper.AwLocalmaterialoutboundMapper">
    
    <resultMap type="AwLocalmaterialoutbound" id="AwLocalmaterialoutboundResult">
        <result property="id"    column="id"    />
        <result property="deliveryNoteID"    column="deliveryNoteID"    />
        <result property="materialID"    column="materialID"    />
        <result property="productionTasksID"    column="productionTasksID"    />
        <result property="processingTechnologyID"    column="processingTechnologyID"    />
        <result property="outboundQuantity"    column="outboundQuantity"    />
        <result property="notes"    column="notes"    />
    </resultMap>

    <sql id="selectAwLocalmaterialoutboundVo">
        select id, deliveryNoteID, materialID, productionTasksID, processingTechnologyID, outboundQuantity, notes from aw_LocalMaterialOutbound
    </sql>

    <select id="selectAwLocalmaterialoutboundList" parameterType="AwLocalmaterialoutbound" resultMap="AwLocalmaterialoutboundResult">
        <include refid="selectAwLocalmaterialoutboundVo"/>
        <where>  
            <if test="deliveryNoteID != null  and deliveryNoteID != ''"> and deliveryNoteID = #{deliveryNoteID}</if>
            <if test="materialID != null  and materialID != ''"> and materialID = #{materialID}</if>
            <if test="productionTasksID != null "> and productionTasksID = #{productionTasksID}</if>
            <if test="processingTechnologyID != null  and processingTechnologyID != ''"> and processingTechnologyID = #{processingTechnologyID}</if>
        </where>
    </select>
    
    <select id="selectAwLocalmaterialoutboundById" parameterType="Long" resultMap="AwLocalmaterialoutboundResult">
        <include refid="selectAwLocalmaterialoutboundVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAwLocalmaterialoutbound" parameterType="AwLocalmaterialoutbound" useGeneratedKeys="true" keyProperty="id">
        insert into aw_LocalMaterialOutbound
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deliveryNoteID != null and deliveryNoteID != ''">deliveryNoteID,</if>
            <if test="materialID != null and materialID != ''">materialID,</if>
            <if test="productionTasksID != null">productionTasksID,</if>
            <if test="processingTechnologyID != null">processingTechnologyID,</if>
            <if test="outboundQuantity != null">outboundQuantity,</if>
            <if test="notes != null">notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deliveryNoteID != null and deliveryNoteID != ''">#{deliveryNoteID},</if>
            <if test="materialID != null and materialID != ''">#{materialID},</if>
            <if test="productionTasksID != null">#{productionTasksID},</if>
            <if test="processingTechnologyID != null">#{processingTechnologyID},</if>
            <if test="outboundQuantity != null">#{outboundQuantity},</if>
            <if test="notes != null">#{notes},</if>
         </trim>
    </insert>

    <update id="updateAwLocalmaterialoutbound" parameterType="AwLocalmaterialoutbound">
        update aw_LocalMaterialOutbound
        <trim prefix="SET" suffixOverrides=",">
            <if test="deliveryNoteID != null and deliveryNoteID != ''">deliveryNoteID = #{deliveryNoteID},</if>
            <if test="materialID != null and materialID != ''">materialID = #{materialID},</if>
            <if test="productionTasksID != null">productionTasksID = #{productionTasksID},</if>
            <if test="processingTechnologyID != null">processingTechnologyID = #{processingTechnologyID},</if>
            <if test="outboundQuantity != null">outboundQuantity = #{outboundQuantity},</if>
            <if test="notes != null">notes = #{notes},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAwLocalmaterialoutboundById" parameterType="Long">
        delete from aw_LocalMaterialOutbound where id = #{id}
    </delete>

    <delete id="deleteAwLocalmaterialoutboundByIds" parameterType="String">
        delete from aw_LocalMaterialOutbound where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>