<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awise.produce.mapper.AwProductinventoryMapper">
    
    <resultMap type="AwProductinventory" id="AwProductinventoryResult">
        <result property="id"    column="id"    />
        <result property="productID"    column="productID"    />
        <result property="number"    column="number"    />
        <result property="weight"    column="weight"    />
    </resultMap>

    <sql id="selectAwProductinventoryVo">
        select id, productID, number, weight from aw_ProductInventory
    </sql>

    <select id="selectAwProductinventoryList" parameterType="AwProductinventory" resultMap="AwProductinventoryResult">
        <include refid="selectAwProductinventoryVo"/>
        <where>  
            <if test="productID != null  and productID != ''"> and productID = #{productID}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="weight != null "> and weight = #{weight}</if>
        </where>
    </select>
    
    <select id="selectAwProductinventoryById" parameterType="Long" resultMap="AwProductinventoryResult">
        <include refid="selectAwProductinventoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAwProductinventory" parameterType="AwProductinventory" useGeneratedKeys="true" keyProperty="id">
        insert into aw_ProductInventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productID != null and productID != ''">productID,</if>
            <if test="number != null">number,</if>
            <if test="weight != null">weight,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productID != null and productID != ''">#{productID},</if>
            <if test="number != null">#{number},</if>
            <if test="weight != null">#{weight},</if>
         </trim>
    </insert>

    <update id="updateAwProductinventory" parameterType="AwProductinventory">
        update aw_ProductInventory
        <trim prefix="SET" suffixOverrides=",">
            <if test="productID != null and productID != ''">productID = #{productID},</if>
            <if test="number != null">number = #{number},</if>
            <if test="weight != null">weight = #{weight},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAwProductinventoryById" parameterType="Long">
        delete from aw_ProductInventory where id = #{id}
    </delete>

    <delete id="deleteAwProductinventoryByIds" parameterType="String">
        delete from aw_ProductInventory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>