<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.awise.produce.mapper.AwProductdeliveryformMapper">
    
    <resultMap type="AwProductdeliveryform" id="AwProductdeliveryformResult">
        <result property="deliveryNoteID"    column="deliveryNoteID"    />
        <result property="warehousingDate"    column="warehousingDate"    />
        <result property="creator"    column="creator"    />
        <result property="warehouseKeeper"    column="warehouseKeeper"    />
        <result property="notes"    column="notes"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectAwProductdeliveryformVo">
        select deliveryNoteID, warehousingDate, creator, warehouseKeeper, notes, status from aw_ProductDeliveryForm
    </sql>

    <select id="selectAwProductdeliveryformList" parameterType="AwProductdeliveryform" resultMap="AwProductdeliveryformResult">
        <include refid="selectAwProductdeliveryformVo"/>
        <where>  
            <if test="warehousingDate != null "> and warehousingDate = #{warehousingDate}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="warehouseKeeper != null  and warehouseKeeper != ''"> and warehouseKeeper = #{warehouseKeeper}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAwProductdeliveryformByDeliveryNoteID" parameterType="String" resultMap="AwProductdeliveryformResult">
        <include refid="selectAwProductdeliveryformVo"/>
        where deliveryNoteID = #{deliveryNoteID}
    </select>
        
    <insert id="insertAwProductdeliveryform" parameterType="AwProductdeliveryform">
        insert into aw_ProductDeliveryForm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deliveryNoteID != null">deliveryNoteID,</if>
            <if test="warehousingDate != null">warehousingDate,</if>
            <if test="creator != null and creator != ''">creator,</if>
            <if test="warehouseKeeper != null and warehouseKeeper != ''">warehouseKeeper,</if>
            <if test="notes != null">notes,</if>
            <if test="status != null and status != ''">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deliveryNoteID != null">#{deliveryNoteID},</if>
            <if test="warehousingDate != null">#{warehousingDate},</if>
            <if test="creator != null and creator != ''">#{creator},</if>
            <if test="warehouseKeeper != null and warehouseKeeper != ''">#{warehouseKeeper},</if>
            <if test="notes != null">#{notes},</if>
            <if test="status != null and status != ''">#{status},</if>
         </trim>
    </insert>

    <update id="updateAwProductdeliveryform" parameterType="AwProductdeliveryform">
        update aw_ProductDeliveryForm
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehousingDate != null">warehousingDate = #{warehousingDate},</if>
            <if test="creator != null and creator != ''">creator = #{creator},</if>
            <if test="warehouseKeeper != null and warehouseKeeper != ''">warehouseKeeper = #{warehouseKeeper},</if>
            <if test="notes != null">notes = #{notes},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where deliveryNoteID = #{deliveryNoteID}
    </update>

    <delete id="deleteAwProductdeliveryformByDeliveryNoteID" parameterType="String">
        delete from aw_ProductDeliveryForm where deliveryNoteID = #{deliveryNoteID}
    </delete>

    <delete id="deleteAwProductdeliveryformByDeliveryNoteIDs" parameterType="String">
        delete from aw_ProductDeliveryForm where deliveryNoteID in
        <foreach item="deliveryNoteID" collection="array" open="(" separator="," close=")">
            #{deliveryNoteID}
        </foreach>
    </delete>
</mapper>